@charset "UTF-8";

:root {
   --color-01: #FF4B2B;
   --color-02: #FF416C;

   --font-default: 'Poppins', Arial, sans-serif;
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body, .App, .root {
   width: 100%;
   height: auto;
   font-family: var(--font-default);
}